<p>Hey {{ name }},</p>
<p>your account has been created</p>
<p>
    <p>Email : {{ email }}</p>
    <p>Password : {{ password }}</p>
</p>

<p>to access your account visit :</p>
<a href="{{ url }}">Dashboard</a>